<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.risesun.data.mysql"/>
    <bean name="dataContext" class="org.risesun.data.mysql.context.DefaultDataContext">
        <property name="packages">
            <array>
                <value>org.risesun.data.mysql.test.model</value>
            </array>
        </property>
    </bean>
    <bean class="org.risesun.data.mysql.scanner.RepositoryScannerConfigurer">
        <property name="context" ref="dataContext"/>
        <property name="packages">
            <array>
                <value>org.risesun.data.mysql.test.repository</value>
            </array>
        </property>
    </bean>

</beans>